local-data-cache/node-red/sample_flow.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9e380c7db9836c8",
        "type": "tab",
        "label": "OPC-UA Demo server",
        "disabled": false,
        "info": "\n[Defined Objects]\n\nNamespace: Line AB\nObjects:\n- name: \"TemperatureSensor\"\n  variables:\n  - name: \"Temperature\"\n    defaultValue: 20.0\n- name: \"PressureSensor\"\n  variables:\n  - name: \"Pressure\"\n    defaultValue: 150.0\n  ",
        "env": []
    },
    {
        "id": "08ad5e8e15b8a066",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgresql.db.svc.cluster.local",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "monitoring_db",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "ecs_user",
        "userFieldType": "str",
        "password": "VMware123",
        "passwordFieldType": "str"
    },
    {
        "id": "6c6d98160d9e203c",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://opc-ua.opc-ua.svc.cluster.local:4840/freeopcua/server/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "5d82bdbeefb27ef2",
        "type": "modbus-client",
        "name": "feed1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.10",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6ecd880978656db2",
        "type": "modbus-client",
        "name": "feed2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.11",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "aad3ea31c39c9d55",
        "type": "modbus-client",
        "name": "purge-valve",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.12",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03dd7a2f565044fb",
        "type": "modbus-client",
        "name": "tank",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.14",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a0877f48ece96b8b",
        "type": "modbus-client",
        "name": "product-valve",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.13",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3201ecda289c82c6",
        "type": "modbus-client",
        "name": "analyzer",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.15",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "86e077d91e179ea2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "386d16f8c354a4a0"
            ]
        ]
    },
    {
        "id": "909ee68693d25c30",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "386d16f8c354a4a0",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "SELECT * FROM devicestatus;",
        "postgreSQLConfig": "08ad5e8e15b8a066",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "909ee68693d25c30"
            ]
        ]
    },
    {
        "id": "fdb327e0a2c38996",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devicename\":\"mydevice2\",\"value\":987}",
        "payloadType": "json",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "d313f2d60878c142"
            ]
        ]
    },
    {
        "id": "b83516fc0d0fe46a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "565ca64dec820629",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "08ad5e8e15b8a066",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "b83516fc0d0fe46a"
            ]
        ]
    },
    {
        "id": "d313f2d60878c142",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('{{payload.devicename}}',{{payload.value}});",
        "output": "str",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "565ca64dec820629"
            ]
        ]
    },
    {
        "id": "d3b63aa1fd6b15db",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "55755d5ef9518992"
            ]
        ]
    },
    {
        "id": "3059026a22aedb9a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "55755d5ef9518992",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "DELETE FROM devicestatus where timestamp < NOW() - INTERVAL '6 hours';",
        "postgreSQLConfig": "08ad5e8e15b8a066",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "3059026a22aedb9a"
            ]
        ]
    },
    {
        "id": "c8e00165f989a060",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "dd5d21dcba80b484",
        "type": "inject",
        "z": "e9e380c7db9836c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "685310ca18d1a39a"
            ]
        ]
    },
    {
        "id": "eece2922f2262aa3",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "e7fb4749b5dbc39e",
        "type": "inject",
        "z": "e9e380c7db9836c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "4b97c07e72363910"
            ]
        ]
    },
    {
        "id": "336ae2061550f91c",
        "type": "comment",
        "z": "e9e380c7db9836c8",
        "name": "OPC-UA Read",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "685310ca18d1a39a",
        "type": "OpcUa-Item",
        "z": "e9e380c7db9836c8",
        "item": "ns=2;i=2",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "9908670a2db92446"
            ]
        ]
    },
    {
        "id": "4b97c07e72363910",
        "type": "OpcUa-Item",
        "z": "e9e380c7db9836c8",
        "item": "ns=2;i=4",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "13f504cb23b2a3ac"
            ]
        ]
    },
    {
        "id": "9908670a2db92446",
        "type": "OpcUa-Client",
        "z": "e9e380c7db9836c8",
        "endpoint": "6c6d98160d9e203c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "c8e00165f989a060",
                "a377c6544a67dc22"
            ],
            []
        ]
    },
    {
        "id": "13f504cb23b2a3ac",
        "type": "OpcUa-Client",
        "z": "e9e380c7db9836c8",
        "endpoint": "6c6d98160d9e203c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "eece2922f2262aa3",
                "2f67037fec87b026"
            ],
            []
        ]
    },
    {
        "id": "200d526d6ba87d5d",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "09209f1d844a12db",
        "type": "postgresql",
        "z": "e9e380c7db9836c8",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "08ad5e8e15b8a066",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "200d526d6ba87d5d"
            ]
        ]
    },
    {
        "id": "a377c6544a67dc22",
        "type": "template",
        "z": "e9e380c7db9836c8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('tempsensor',{{payload}});",
        "output": "str",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "09209f1d844a12db"
            ]
        ]
    },
    {
        "id": "c968570e414cfd07",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "8784ec555f960df1",
        "type": "postgresql",
        "z": "e9e380c7db9836c8",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "08ad5e8e15b8a066",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "c968570e414cfd07"
            ]
        ]
    },
    {
        "id": "2f67037fec87b026",
        "type": "template",
        "z": "e9e380c7db9836c8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('pressuresensor',{{payload}});",
        "output": "str",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "8784ec555f960df1"
            ]
        ]
    }
]
